<h2>
  <%= link_to 'Add New', new_post_path, class: 'headr-menu' %>
  My Posts
</h2>
<ul>
  <% @posts.each do |post| %>
    <li class="list-group-item">
      <p>
        <%= link_to post.title.truncate(20), post_path(post) %>
        <span>
          <% if post.picture? %>
            <%= image_tag('clip.png', class: 'clip') %>
          <% end%>
       </span>
      </p>
      <p><%= link_to '[Edit]', edit_post_path(post), class: 'command' %>
      <%= link_to '[x]',
      post_path(post),
        method: 'delete',
        class: 'command',
        data: { confirm: 'Sure?' } %></p>
      <%= time_ago_in_words(post.created_at) %>
    </li>
  <% end %>
</ul>
<%= paginate @posts %>
