<!DOCTYPE html>
<html>
  <head>
    <title>DotinstallMyblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <header>
      <%= link_to image_tag('logo.png', class: 'logo'), root_path %>

      <%= form_tag(search_path,:method => 'get') do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', :name => nil, class: 'btn btn-success search' %>
      <% end %>
    </header>

    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>">
        <%= msg.html_safe %>
      </div>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
